html
  head
    title Test
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap CSS CDN
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // Custom CSS
    link(rel='stylesheet', href='css/custom.css')
    // JQuery CDN
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    // Bootstrap Js CDN
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .wrapper
      nav#sidebar
        .sidebar-header
          a#e7(href='#', rel='home')
            svg(width='200', height='30', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 414 89.12')
              path(d='M0 .09c16.31 0 32.62.09 48.93 0a8.15 8.15 0 0 1 7.72 4.14c8 12.05 16.23 23.9 24.64 36.18-6.91 12.49-13.7 25-20.8 37.4-2.17 3.77-3.2 9.21-7.8 11.33H18.44l12-22.83.59-1q3.78-6.72 7.56-13.5a22.12 22.12 0 0 1 14.15-10.9c6-1.64 12.16 0 18.51-1.22-4.16-8.52-9.82-13.93-19.67-13.69-12 .21-23.92 0-35.5 0-3.22-3-4.67-6.46-6.85-9.37l-.52-.77-.69-1-.6-1-.19-.28-.54-.82-.6-.92-.75-1L4 8.9l-.43-1-1.46-2-.54-1L0 3.09z', fill='#a61c34')
              path(d='M414 38.76c-4.75.6-10.53.3-15.48.35-13.62.13-27.24 0-41.16 0v-39H414v8.16h-47.08v7.06h41c.07 3 .47 5.39-.31 8.1h-40.74c0 2.42-.59 4.49.18 6.64h47v2c-.05 2.43-.26 4.48-.05 6.69z')
              path(d='M293 89.09V50.7h55.53a16.55 16.55 0 0 1-.13 8h-45.2a7.05 7.05 0 0 0-.12 7h38.76c1.8 2.49 1.29 4.59.8 7.42h-39.1c-1.87 2.5-1.48 4.4-.81 6.81h45.14c1.83 3.21.62 6.3 1.13 9.17zm-199 0l.4-9h44.72c2.24-1.92 2.26-3.45 1.49-5.25a18.79 18.79 0 0 0-8.61-1.62c-9.32 0-18.64.08-28 0-6.67-.05-11.53-4-12-9.55-.55-6.75 2.85-11.26 9.82-12.78a31 31 0 0 1 6.41-.65c13.29-.06 26.58 0 40 0 1.09 2.85.78 5.42.32 8.74-7.78 0-15.55-.2-23.3.06s-15.41-1.28-22.83 1.09c-1 5 1.5 5.85 5 5.85 10.32 0 20.64-.12 31 .09 9 .18 13.54 5.3 12.65 13.52-.59 5.51-5 7.32-9 9.51zm65 0V50.51h54.49c1.14 2.58.44 5.16.61 8.22h-44.94c-1.67 2.44-1.22 4.51-.65 7.16H208c1.37 2.58.76 4.64.66 7.28h-39.79c-1.24 2.44-1 4.35-.36 6.93h44.93c1.06 3.39.55 6.2.55 9zm196 0v-38c2.79-1.55 5.61-.62 8.22-.8l40.61 27.17c2.1-9.12.1-17.9 1.26-26.48 2.93-1.47 6-.31 8.91-.86v39h-10c-12.51-9.7-26.09-17.8-40-27.41v27.38zm-107 0c-6.15-9.89-14.27-18.27-21.15-27.61-2.53-3.44-5.24-6.74-8.19-10.52 4-1.35 7.39-.55 11.28-.68l23.77 30.2 23.27-30h11.88L259 89.09z', fill='#ababad')
              path(d='M286.46 15.63v23.13c-14.53 0-28.9 1-43-.28-15.57-1.48-22.85-15.94-15.75-28.65 3.89-7.07 10.73-9.33 18-9.6C258-.21 270.34.11 282.93.11v8.4c-8.2 0-16.33-.06-24.45 0-4.31 0-8.63.22-12.93.57-5.62.46-9.2 3.62-9.72 8.25-.78 6.94 1.13 10.13 7.43 12.12a16.93 16.93 0 0 0 4.88.82c9.47.08 18.93 0 28.6 0a13.83 13.83 0 0 0-.06-7h-18.26a20.38 20.38 0 0 1-.18-7.72zM95.16.28h55.71v8H105c-1.42 2.33-.62 4.34-.9 6.87h40.57c1 2.86.48 5.18.58 8h-40.94v6.86h46.41v8.83H95.16zM172 32.76l-5 6.11h-11.9L185.66.21h10.57l30.56 38.6h-11.9l-5-6zM190.9 8.4l-12.6 16.28h25.39zm158.73 21.93v8.43H294.5V.34h9.4v30z')
        ul#sidebar-items.list-unstyled.components
            for desk in desks
                li
                    .container-fluid
                        ul#sidebar-section.nav.navbar-nav
                            li
                                a#desk(href="#") #{desk}
                                ul#desk.collapse.list-unstyled
                                    
                                    for (var i = 0; i < desks[desk].length; i++) {
                                        li
                                            a#engine
                                        }
                                    
                        
      #content
        nav.navbar.navbar-inverse.navbar-static-top
          #navlinks.container-fluid
            ul.nav.navbar-nav
              li#sidebarCollapse
                a(href='#')
                  span.glyphicon.glyphicon-menu-hamburger
              li#home.active
                a(href='#') Home
              li#sapphires
                a(href='#sapphires') Sapphire
              li#pricefeeder
                a(href='#pricefeeder') Pricefeeder
              li#drop
                a(href='#drop') Drop
              li#risk
                a(href='#risk') Risk
            ul.nav.navbar-nav.navbar-right
              li#settings
                a(href='#') Settings
        #page
    script(type='text/javascript', src='frontend.js')
