/* ------------------------------
All CSS for Sidebar
------------------------------ */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #3b3b3b;
    color: #ffffff;
    transition: all 0.3s;
}

#sidebar a {
    font-size: 1.1em;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 4px;
    background: #000000;
    min-height: 50px;
}

#e7 {
    fill: #fff
}

#sidebar-items a {
  color: white;
  display: block;
}

#sidebar-items a:focus {
  background: none;
  text-decoration: none;
}

#sidebar-items a:hover {
  background: #a2232f;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
}

#sidebar-items a[aria-expanded=true] .glyphicon-menu-down {
   display: none;
}

#sidebar-items a[aria-expanded=false] .glyphicon-menu-up {
   display: none;
}

#sidebar-items a.desk {
    min-width: 210px;
    padding: 10px;
}

#sidebar-items a.engine {
    padding: 10px;
    padding-left: 20px;
    padding-right: 5px;
    font-size: 1em;
}

#sidebar-items a.arrow {
    padding: 10px;
}

#sidebar-items a.arrow:hover {
    background: #000000;
}


.glyphicon-menu-down {
    font-size: 15px;
    padding: 2.5px;
}

.glyphicon-menu-up {
    font-size: 15px;
    padding: 2.5px;
}


/* ------------------------------
All CSS for Navbar
------------------------------ */
.wrapper {
    display: flex;
    align-items: stretch;
}


.navbar-inverse {
    background: #000000;
    border: 0;
}

.glyphicon-menu-hamburger {
    font-size: 20px;
}

.container-fluid {
    padding-left: 0px;
}

#navlinks a:hover {
    color: #a2232f;
}

#content {
  width: 100%;
}



/* ------------------------------
All CSS for page
------------------------------ */
#page {
    padding-left: 20px;
    padding-right: 20px;
}

.panel-body {
  padding: 0px;
}

.panel-heading {
    background-color: #a2232f;
    color: #ffffff;
}

.table {
  margin-bottom: 0px;
}

.version {
  align: right;
}

.btn {
    border-radius: 0;
}
