/* ------------------------------
General Stuff
------------------------------ */
#page {
    padding-left: 20px;
    padding-right: 20px;
}



/* ------------------------------
NavBar
------------------------------ */
.wrapper {
    display: flex;
    align-items: stretch;
}


.navbar-inverse {
    background: #000000;
    border: 0;
}

.glyphicon-menu-hamburger {
    font-size: 20px;
}

.container-fluid {
    padding-left: 0px;
}

#navlinks a:hover {
    color: #a2232f;
}


/* ------------------------------
All CSS for Sidebar
------------------------------ */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #3b3b3b;
    color: #fff;
    transition: all 0.3s;
}

#sidebar a {
    /* padding: 10px; */
    font-size: 1.1em;
    display: block;
}


#sidebar.active {
    margin-left: -250px;
}

.sidebar-header {
    font-size: 30px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #000000
}

#desk {
    min-width: 210px;
    padding: 10px;
}

#desk:hover {
    color: #fff;
    background: #a2232f;
}

#desk:focus {
    background: #a2232f;
}

#engine {
    display: block;
    padding: 10px;
    padding-left: 30px;
}

#engine:hover {
    color: #fff;
    background: #a2232f;
}

#arrow a {
    padding: 10px;
}

#arrow a:focus {
    background: none;
}

#arrow a:hover {
    background: #000000;
}

.glyphicon-menu-down {
    font-size: 15px;
    padding: 2.5px;
}

.glyphicon-menu-up {
    font-size: 15px;
    padding: 2.5px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a[aria-expanded=true] .glyphicon-menu-down {
   display: none;
}

a[aria-expanded=false] .glyphicon-menu-up {
   display: none;
}

/* ------------------------------
All CSS for Grid
------------------------------ */
.panel {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.panel-heading {
    background-color: #a2232f;
}
