/* ------------------------------
All CSS for Sidebar
------------------------------ */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #888; */
    visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #282828;
    /* visibility: hidden; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* visibility: visible; */
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    /** height: 100vh; **/
    background-color: #282828;
    color: #ffffff;
    transition: all 0.3s;
}

#sidebar a {
    font-size: 1.1em;
}

#sidebar-items a {
  font-size: 1.3em
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar .sidebar-header {
    font-size: 30px;
    text-align: center;
    padding-top: 8px;
    /** padding-bottom: 4px; **/
    background: #000000;
    min-height: 50px;
    /** height: 50px; **/
}

#e7 {
    fill: #fff
}

#sidebar-items a {
  color: white;
  display: block;
}

#sidebar-items .container-fluid {
  padding-left: 0px;
}

#sidebar-items .sidebar-desk.active {
  background: #3b3b3b
}

#sidebar-items a:focus {
  background: none;
  text-decoration: none;
}

#sidebar-items a:hover {
  /** background: #a2232f; **/
  background: #3b3b3b;
  text-decoration: none;
  transition: all 0.2s;
  display: block;
}


  #sidebar-items a.sidebar-desk {
    /** min-width: 210px; **/
    min-width: 200px;
    padding: 10px;
}

/**
#sidebar-items a[aria-expanded=true] .glyphicon-menu-down {
  display: none;
}

#sidebar-items a[aria-expanded=false] .glyphicon-menu-up {
  display: none;
}

#sidebar-items a.engine {
    padding: 10px;
    padding-left: 20px;
    padding-right: 5px;
    font-size: 1em;
}

#sidebar-items a.arrow {
    padding: 10px;
}

#sidebar-items a.arrow:hover {
    background: #000000;
}


.glyphicon-menu-down {
    font-size: 15px;
    padding: 2.5px;
}

.glyphicon-menu-up {
    font-size: 15px;
    padding: 2.5px;
}
**/

/* ------------------------------
All CSS for Navbar
------------------------------ */
.wrapper {
    display: flex;
    align-items: stretch;
}


.navbar-inverse {
    background: #000000;
    border: 0;
    margin-bottom: 0px;
}

.glyphicon-menu-hamburger {
    font-size: 20px;
}

#navlinks .container-fluid {
    padding-left: 0px;
}

#navlinks a:hover {
    /** color: #a2232f; **/
    color: #ffffff;
}

#content {
  width: 100%;
  background: #3b3b3b;
  /* height: 100%; */
  /* height: 100%; */

}

#dot {
  /* height: 25px; */
  font-size: 40px;
  color: #f44141;
}

/* ------------------------------
All CSS for page
------------------------------ */

#ctxmenu{
  display:none;
  position: absolute;
  /* border:1px solid #B2B2B2; */
  width:150px;
  background:#F9F9F9;
  /* box-shadow: 3px 3px 2px #E9E9E9; */
  /* border-radius:4px; */
}


#page {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    /* height: 100%; */
    /* height: 100%; */


    /** background-color: black; **/
}

#page .container-fluid {
  text-align: justify;
  text-align-last: justify; */
  padding: 0px;
  width: 100%;
  height: 93vh;
  overflow-y: auto;
}

#page table{
  display: inline;
  border-collapse: collapse;

}

#page td {
  text-align: center;
}

#page th {
  color: white;
  background-color: black;
  border: 1px solid black;
  font-size: 12pt;
}

#page td {
  border: 1px solid black;
  /* font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif; */
  /* font-family: "Arial Rounded MT Bold", Helvetica, Arial, sans-serif; */
  font-family: "Myriad", Helvetica, Arial, sans-serif;
  /** font-family: 'Circular Std Bold'; **/
  font-size: 10pt;
  padding-top: 0px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 0px;
  color: white;
}

#page td:hover {
  filter: brightness(150%);
}

.table-block {
  margin: 8px;
  display: inline-block;
  box-shadow: 0 0 1px 3px;
}

.table-block:hover {
  box-shadow: 0 0 3px 5px #282828;
}
